@model OVERAS.Models.customert

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>customert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="cid" />
            <div class="form-group">
                <label asp-for="fname" class="control-label"></label>
                <input asp-for="fname" class="form-control" />
                <span asp-validation-for="fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mname" class="control-label"></label>
                <input asp-for="mname" class="form-control" />
                <span asp-validation-for="mname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lname" class="control-label"></label>
                <input asp-for="lname" class="form-control" />
                <span asp-validation-for="lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="currentaddress" class="control-label"></label>
                <input asp-for="currentaddress" class="form-control" />
                <span asp-validation-for="currentaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ffname" class="control-label"></label>
                <input asp-for="ffname" class="form-control" />
                <span asp-validation-for="ffname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mmname" class="control-label"></label>
                <input asp-for="mmname" class="form-control" />
                <span asp-validation-for="mmname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="llname" class="control-label"></label>
                <input asp-for="llname" class="form-control" />
                <span asp-validation-for="llname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
